@import "../core/grid-mapping.scss";
@import "../general/fonts.scss";
body.about {
    background-color: $mainYellow;
    header {
        .about-header {
            @include font-page-title;
        }
        .header-description {
            @include font-page-medium-content;
        }
    }
    #team-members-container {
        @include wrap-all-childs;
        .single-member {
            margin-right: 40px;
            .image-member {
                position: relative;
                width: 250px;
                height: 250px;
                bottom: -20px;
                display: inline-block;
                background-color: rgba(0,0,0,0.95);
                border-radius: 100%;
                img {
                    position: absolute;
                    z-index: 3;
                    opacity:0.35;
                    height: 250px;
                    width:250px;
                    border-radius: 100%;
                    transition:all 0.5s;
                    &:hover {
                        opacity: 1;
                        border-radius: 0%;
                    }

                }
                .member-name {
                    position: absolute;
                    text-align: center;
                    background-color: black;
                    height:0px;
                    color: yellow;
                    opacity: 0;
                    width: 0px;
                    transition:  all 0.5s;
                    bottom: -40px;
                    &.active-name {
                        width: 250px;
                        height:30px;
                        opacity: 1;
                        text-align: center;
                        background-color: black;
                        color: yellow;
                        margin-top:-20px;
                    }
                }
            }
            .infos-member {
                margin-top: 45px;
                /* General */
                ul {
                    list-style: none;
                }
                .member-position {

                }

                .member-contact-infos {
                    padding-left: 0;
                    .phone {

                    }
                    .email {

                    }
                }
                .social-networks {
                    width: 250px;
                    height: 100px;
                    text-align: center;
                    .member-social-network-list {
                        display: inline-block;
                        padding-left: 0px;
                        li  {
                            padding:0 5px;
                            text-align: center;
                            display: inline-block;
                            float: left;
                            img {
                                transition: all 0.5s;
                            }
                        }
                        li:hover {
                            img {
                                border: solid white 4px;
                                border-radius:100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
