footer {

    .credit {width: 100%;
            display: block;
            text-align: center;
            position: fixed;
            bottom: 0;
            margin: 0 auto;
        }
    .credit i {
        color: black;
    }
    .credit {
        padding-top: 25px;
        a {
            &:hover {
                margin-bottom: 15px;
            }
            i {
                font-size:25px;
                padding-left: 10px;
            }
        }
    }
}
