footer {
    .credit {
        padding-top: 25px;
        background-color:  $mainYellow;
        a {
            &:hover {
                margin-bottom: 15px;
            }
            i {
                font-size:25px;
                padding-left: 10px;
            }
        }
    }
}
