body.front-page {
    #particles-js {
        position: absolute;
        height:100vh;
        width:100%;
        background-color:  yellow;
    }
    .main-header-infos {
        display: none;
    }
    .message-container{
        position: absolute;
        z-index: 2;
        margin:0 auto;
        top: 50vh;
        left:50vw;

        /*Translating for real center*/
        transform: translate(-50%, -50%);

    }
    .home-page-logo {
        width:400px;
        height:auto;
    }
    canvas {
        position: absolute;


    }

    .text-container  {
        height: 0px;
        text-align: center;
    }
    .text-container h2 {
        height: 0px;
        text-align: center;
        margin:0;
    }

    .credit {width: 100%;
        display: block;
        text-align: center;
        position: fixed;
        bottom: 0;
        margin: 0 auto;
    }
    .credit i {
        color: black;
    }
}
