#menu {

    position: absolute;
    right: 0px;
    top: 0px;
    background-color: $mainYellow;
    height:100vh;
    width: 350px;
    z-index: 55;
    border-left: solid black 3px;
    .close-button {
        position: absolute;
        right:  15px;
        font-size:35px;
    }
    nav{
        padding-top: 80px;
        ul {
            list-style: none;
            li {
                width: 200px;
                font-size:38px;
                text-align: center;
                a {
                    color: black;
                    &:hover,
                    &:active {
                        text-decoration: none;

                    }
                    .line-overlay {
                        transition:width 0.85s;
                        width: 0px;

                        &.active {
                            width: 150px;
                            border: solid black 1px;
                            margin:0 auto;
                        }
                    }
                }
            }
        }
    }
}
