// Include all related files
@import "../general/fonts.scss";
@import "../core/grid-mapping.scss";

body.projects {

    h2 {
        @include font-page-title;
    }
    background-color: $mainYellow;
    #all-projects-thumbnail-container {

        @include wrap-all-childs;
        .single-project-thumbnail-container {
            background-color: rgba(0,0,0,0.5);
            border-radius: 100%;
            position: relative;
            width: 250px;
            display: inline-block;
            margin-right: 45px;
            margin-top: 50px;

            // Responsive
            @media screen and (max-width: 480px) {
                border-radius:0px;
                width: 100%;
                display: block;
                margin:0;
            }

            .thumbnail-image {

                width: 250px;
                height: auto;
                opacity: 0.5;
                // For hover effects
                border-radius:100%;
                transition: all 0.5s;
                // Responsive
                @media screen and (max-width: 480px) {
                    border-radius:0px;
                    width: 100%;
                    display: block;
                    margin:0;
                    opacity:1;
                }
                &:hover {
                    border-radius:0%;
                    opacity:1;
                }
            }

            .project-infos {
                position: absolute;
                text-align: center;
                background-color: black;
                height:0px;
                color: yellow;
                opacity: 0;
                width: 0px;
                transition:  all 0.5s;
                bottom: -40px;
                &.active-project-infos {
                    width: 100%;
                    height:50px;
                    opacity: 1;
                    text-align: center;
                    background-color: black;
                    color: yellow;
                    margin-top:-20px;
                }
                // Responsive
                @media screen and (max-width: 480px) {
                    position: inherit;
                    display: block;
                    height: 45px;
                    width: 100%;
                    opacity: 1;

                }
                .project-title {
                    margin-top: 0px;
                    padding: 2px;
                    margin-bottom:10px;
                }

                .project-link {

                }
            }
        }
    }
}

body.single-project  {
    overflow:hidden;

    @media screen and (max-width: 480px) {
        overflow:auto;
    }
    header {

        background-color: $mainYellow;
        color: black;
        h3 {
            @include font-page-title;
            margin:0;
        }
        .single-project-description {
            margin-bottom: 0px;
            width: 100%;
            @include font-page-content;
        }
    }

    #project-infos-container {
        p {
            width: 75%;
        }

        .project-infos.left{
            display: block;
            width:100%;
            left: -80%;
            position: absolute;
            background-color: rgba(255,255,0,0.5);
            color: black;
            transition: all 2s;
            @include font-page-content;

            // Responsive
            @media screen and (max-width: 480px) {
                background-color:$mainYellow;
                display: block;
                position: initial;
            }
            h4 {
                width: 200px;
                text-align: center;
                float: right;
                @include font-page-medium-content;

                // Responsive
                @media screen and (max-width: 480px) {

                    width: 100%;
                    display: block;
                    position: initial;
                    float: none;

                }
            }
            p {

                // Responsive
                @media screen and (max-width: 480px) {
                    display: none;
                    float:none;
                }
            }
        }
        .project-infos.left:hover {
            left: 0%;
            background-color: rgba(255,255,0,1);
        }

        .project-infos.right{
            display: block;
            width: 100%;
            right: -80%;
            position: absolute;
            background-color: rgba(255,255,0,0.5);
            color: black;
            transition: all 2s;
            @include font-page-content;

            // Responsive
            @media screen and (max-width: 480px) {
                background-color:$mainYellow;
                display: block;
                position: initial;
            }

            h4 {
                float: left;
                @include font-page-medium-content;
                width: 200px;
                text-align: center;

                // Responsive
                @media screen and (max-width: 480px) {
                    width:100%;
                }
            }
            p {
                float: right;
                // Responsive
                @media screen and (max-width: 480px) {
                    display: none;
                    float:none;
                }
            }
        }
        .project-infos.right:hover {
            right: 0%;
            background-color: rgba(255,255,0,1);
        }

        // Css rules applying for left and right infos
        .project-infos {
            display: none;
            overflow:hidden;
        }

        // All exeption and special case
        .exception {
            &.deploy {
                margin-right:40px;
            }
        }
    }

    * { box-sizing: border-box; }

    // All video
    .video-background {
      background: #000;
      position: fixed;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -99;
    }
    .video-foreground,
    .video-background iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    #vidtop-content {
    	top: 0;
    	color: #fff;
    }

    .vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
    .vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
    // @media (min-aspect-ratio: 16/9) {
    //   .video-foreground { height: 300%; top: -100%; }
    // }
    // @media (max-aspect-ratio: 16/9) {
    //   .video-foreground { width: 300%; left: -100%; }
    // }
    // @media all and (max-width: 600px) {
    // .vid-info { width: 50%; padding: .5rem; }
    // .vid-info h1 { margin-bottom: .2rem; }
    // }
    // @media all and (max-width: 500px) {
    // .vid-info .acronym { display: none; }
    // }
}


// Responsive project page
