// Include all related files
@import "../general/fonts.scss";

body.services  {
    background-color: $mainYellow;
    font-family:$main-font;

    main {
        padding-top: 75px;
        padding-left:5% ;
        padding-right: 5%;
        h2 {
            @include font-page-title;
        }
        p {
            @include font-page-content;
        }

        .infos-box-container {
            .sign {
                font-size: 36px;
                padding:0px 50px;
            }
            .word-container {
                display: inline-block;

                h3 {
                    border: solid black 5px;
                    font-size:36px;
                    padding:25px;
                }
            }
        }
    }
}
